.image-wrapper {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.hall-image {
  transition: transform 0.5s ease-in-out;
}

.image-wrapper:hover .hall-image {
  transform: scale(1.08);
}

/* For Curving of The Card*/
.custom-card {
  border-radius: 20px;
}

/* Slider effect for location adn capacity */

.location-box {
  transition: all 0.3s ease;
  cursor: pointer;
}

.location-box:hover {
  transform: translateX(8px);
}

.location-icon {
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  color: red;
}

.capacity-icon {
  transition: all 0.3s ease;
  color: #0d6efd;
}

@media (max-width:768px) {
  .image-wrapper {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     border-bottom-left-radius: 0px;
  }
}
